<div class="bg-body-secondary section" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Darko Stikovic</h1>
    <h3>Angular Developer</h3>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <a
      href="https://www.linkedin.com/in/darko-stikovic-3ba143304/"
      target="_blank"
      class=""
    >
      <img
        src="LinkedIn-logo-2003-600x319.webp"
        width="28"
        height="28"
        class="rounded-circle me-2"
        alt=""
      />
    </a>
    <a href="https://github.com/FrankZaneDS" target="_blank" class="">
      <img
        src="github.webp"
        width="28"
        height="28"
        class="rounded-circle me-2"
        alt=""
      />
    </a>
  </div>
</div>
