<nav class="navbar navbar-expand-md border-bottom mb-3">
  <ul class="navbar-nav w-100 d-flex justify-content-center" style="gap: 3rem">
    <li class="nav-item">
      <a
        class="nav-link text-secondary"
        routerLinkActive="text-dark"
        aria-current="page"
        routerLink="/home"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-secondary"
        routerLinkActive="text-dark"
        routerLink="/portfolio"
        >Portfolio</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-secondary"
        routerLinkActive="text-dark"
        routerLink="/resume"
        >Resume</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-secondary"
        routerLinkActive="text-dark"
        routerLink="/contact"
        >Contact</a
      >
    </li>
  </ul>
</nav>
