<div class="modal-header">
  <h2>{{ project.name }}</h2>
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
  <carousel>
    @for (photo of project.photos; track $index) {
    <slide
      ><img src="{{ photo }}" alt="slide" style="display: block; width: 100%"
    /></slide>
    }
  </carousel>
  <h3 class="mt-2">Description</h3>
  <p>{{ project.desc }}</p>
  <p>
    You can find this project on Github
    <a href="{{ project.projectLink }}" target="_blank">here</a>
  </p>
  <div class="d-flex flex-wrap">
    @for (tag of project.tags; track $index) {
    <div [style.background-color]="tag.color" class="tag me-2 mb-1">
      {{ tag }}
    </div>

    }
  </div>
</div>
